doctype html
head
	title= title
	meta(charset='UTF-8')
	meta(name='viewport',content='width=device-width,initial-scale=1.0')
	link(href='/css/main.css',rel='stylesheet')
body
	header
		if (title)
			if (link)
				h1
					a(href=link)= title
			else
				h1= title
		h2= description
	main
		if page
			div.page!= page
		else if posts && posts.length
			each post in posts
				div.post
					if (post.title)
						if (post.link)
							h1
								a(href=post.link)= post.title
						else
							h1= post.title
					if (post.description)
						h2= post.description
					p= "Published on " + post.published.toDateString()
					div.post-body
						!= post.contents
	footer
		p Copypants All Rights Returned 2016

