doctype xml
rss(version='2.0')
	channel
		title= title
		description= description
		- if (language)
			language= language
		- if (image)
			image= image
		pubDate= (new Date()).toGMTString()
		each item in items
			item
				title= item.title
				pubDate= (new Date(item.pubDate)).toGMTString()
				description= item.description
				link= item.link